<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-fluid">
			<div class="ui-g">
				<div class="ui-g-12">
					<div class="card card-w-title">
						<h1>Novo Produto</h1>
						<p:panelGrid columns="4"
							columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
							layout="grid" styleClass="ui-panelgrid-blank form-group"
							style="border:0px none; background-color:transparent;">

							<p:outputLabel for="nome" value="Nome" />
							<p:inputText id="nome" />
							

							<p:outputLabel for="categoria" value="Categoria" />
							<p:selectOneMenu id="categoria">
								<f:selectItem itemLabel="Selecionar" itemValue="" />
								<f:selectItem itemLabel="Pizzas" itemValue="Xbox One" />
								<f:selectItem itemLabel="Esfirras" itemValue="PS4" />
								<f:selectItem itemLabel="Adicionais" itemValue="Wii U" />
								<f:selectItem itemLabel="Refrigerantes" itemValue="Wii U" />

							</p:selectOneMenu>

							<p:outputLabel for="estocavel" value="Estocável" />
							<p:selectOneRadio id="estocavel" layout="responsive" columns="2"
								styleClass="form-group">
								<f:selectItem itemLabel="Sim" itemValue="sim" />
								<f:selectItem itemLabel="Não" itemValue="não" />
							</p:selectOneRadio>

							<h:outputLabel for="quantidade" value="Quantidade" />
							<p:spinner id="quantidade" />

							<p:outputLabel for="tamanho" value="Tamanho" />
							<p:selectOneMenu id="tamanho">
								<f:selectItem itemLabel="Selecionar" itemValue="" />
								<f:selectItem itemLabel="P" itemValue="" />
								<f:selectItem itemLabel="M" itemValue="Xbox One" />
								<f:selectItem itemLabel="G" itemValue="PS4" />
								<f:selectItem itemLabel="Único" itemValue="Wii U" />
							</p:selectOneMenu>

							<p:outputLabel for="valor" value="Valor" />
							<p:inputText id="valor" />


						</p:panelGrid>
					</div>
					<div class="ui-g-2">
						<p:commandButton value="Salvar" />
					</div>
				</div>

			</div>
		</div>


	</ui:define>

</ui:composition>