<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form>
			<div class="ui-fluid">
				<div class="ui-g">
					<div class="ui-g-12">
						<p:messages id="msg" autoUpdate="true" />
						<div class="card card-w-title">
							<h1>Nova Categoria</h1>
							<p:panelGrid columns="4"
								columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
								layout="grid" styleClass="ui-panelgrid-blank form-group"
								style="border:0px none; background-color:transparent;"
								id="capaPanel">

								<p:outputLabel for="nome" value="Nome" />
								<p:inputText id="nome"
									value="#{cadastroCategoriaBean.categoria.nome}" />

							</p:panelGrid>
						</div>
						<div class="ui-g-2">
							<p:commandButton value="Salvar"
								action="#{cadastroCategoriaBean.salvar()}"
								update="capaPanel msg" />
						</div>
					</div>

				</div>
			</div>
		</h:form>


	</ui:define>

</ui:composition>