$primaryColor: #607D8B;
$primaryDarkColor: #37474F;
$primaryLightColor: #B0BEC5;
$accentColor: #8BC34A;
$accentDarkColor: #558B2F;
$accentLightColor: #C5E1A5;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;


@import '../../sass/layout/_layout';