<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form>
			<div class="ui-fluid">
				<div class="ui-g-12">
					<p:messages id="msg" autoUpdate="true" />
					<div class="card card-w-title">
						<h1>Novo Cliente</h1>
						<p:tabView>
							<p:tab title="Informações Pessoais">
								<div class="ui-fluid">
									<div class="ui-g">
										<div class="ui-g-12">
											<p:panelGrid columns="4"
												columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
												layout="grid" styleClass="ui-panelgrid-blank form-group"
												style="border:0px none; background-color:transparent;">

												<p:outputLabel for="nome" value="Nome" />
												<p:inputText id="nome" value="#{cadastroClienteBean.cliente.nome}" />


												<p:outputLabel for="email" value="E-mail" />
												<p:inputText id="email" value="#{cadastroClienteBean.cliente.email}" />

												<p:outputLabel value="CPF:" for="cpf" />
												<p:inputMask mask="999.999.999-99" id="cpf" value="#{cadastroClienteBean.cliente.cpf}" />

												<p:outputLabel for="telefone" value="telefone" />
												<p:inputMask mask="(99) 99999.9999" id="telefone"
													value="#{cadastroClienteBean.cliente.telefone}" />

												<p:outputLabel for="celular" value="Celular" />
												<p:inputMask mask="(99) 99999.9999" id="celular"
													value="#{cadastroClienteBean.cliente.celular}" />


											</p:panelGrid>
										</div>

									</div>

								</div>
							</p:tab>
							<p:tab title="Endereço Residencial">
								<div class="ui-fluid">
									<div class="ui-g">
										<div class="ui-g-12">
											<p:panelGrid columns="4"
												columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
												layout="grid" styleClass="ui-panelgrid-blank form-group"
												style="border:0px none; background-color:transparent;"
												id="panelEnderecoResidencial">

												<p:outputLabel for="logradouro" value="Logradouro" />
												<p:inputText id="logradouro" value="#{cadastroClienteBean.cliente.moradia.logradouro}" />


												<p:outputLabel for="numero" value="Número" />
												<p:inputText id="numero"
													value="#{cadastroClienteBean.cliente.moradia.numero}" />

												<p:outputLabel value="Cidade" for="cidade" />
												<p:inputText id="cidade"
													value="#{cadastroClienteBean.cliente.moradia.cidade}" />

												<p:outputLabel for="ufResidencial" value="UF" />
												<p:selectOneMenu id="ufResidencial" value="#{cadastroClienteBean.cliente.moradia.uf}">
													<f:selectItem itemLabel="Selecionar" itemValue="" />
													<f:selectItem itemLabel="CE" itemValue="Xbox One" />
													<f:selectItem itemLabel="RG" itemValue="PS4" />
													<f:selectItem itemLabel="RN" itemValue="Wii U" />
													<f:selectItem itemLabel="RO" itemValue="Wii U" />
												</p:selectOneMenu>

												<p:outputLabel for="bairro" value="Bairro" />
												<p:selectOneMenu id="bairro">
													<f:selectItem itemLabel="Selecionar" itemValue="" />
													<f:selectItem itemLabel="VILA ALTA" itemValue="Xbox One" />
													<f:selectItem itemLabel="SÃO MIGUEL" itemValue="PS4" />
												</p:selectOneMenu>

												<p:outputLabel for="EnderecoEntrega"
													value="Usar este endereço para entrega?" />
												<p:selectOneRadio id="EnderecoEntrega" value="#{cadastroClienteBean.radioEndereco}">
                                                    <f:selectItem itemLabel="Sim" itemValue="S" />
													<f:selectItem itemLabel="Não" itemValue="N" />

													<p:ajax event="change" listener="#{cadastroClienteBean.vincularEnderecos}"
														process="@this panelEnderecoResidencial" update="panelEnderecoEntrega"/>
												</p:selectOneRadio>
											</p:panelGrid>
										</div>

									</div>
								</div>
							</p:tab>
							<p:tab title="Endereço Entrega">
								<div class="ui-fluid">
									<div class="ui-g">
										<div class="ui-g-12">
											<p:panelGrid columns="4"
												columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
												layout="grid" styleClass="ui-panelgrid-blank form-group"
												style="border:0px none; background-color:transparent;"
												id="panelEnderecoEntrega">

												<p:outputLabel for="logradouroEntrega" value="Logradouro" />
												<p:inputText id="logradouroEntrega" value="#{cadastroClienteBean.cliente.entrega.logradouro}"/>


												<p:outputLabel for="numeroEntrega" value="Número" />
												<p:inputText id="numeroEntrega" value="#{cadastroClienteBean.cliente.entrega.numero}" />

												<p:outputLabel value="Cidade" for="cidadeEntrega" />
												<p:inputText id="cidadeEntrega" value="#{cadastroClienteBean.cliente.entrega.cidade}"/>

												<p:outputLabel for="ufEntrega" value="UF" />
												<p:selectOneMenu id="ufEntrega" value="#{cadastroClienteBean.cliente.entrega.uf}">
													<f:selectItem itemLabel="Selecionar" noSelectionOption="true"/>
													<f:selectItem itemLabel="CE" itemValue="Xbox One" />
													<f:selectItem itemLabel="RG" itemValue="PS4" />
													<f:selectItem itemLabel="RN" itemValue="Wii U" />
													<f:selectItem itemLabel="RO" itemValue="Wii U" />
												</p:selectOneMenu>

												<p:outputLabel for="bairroEntrega" value="Bairro" />
												<p:selectOneMenu id="bairroEntrega">
													<f:selectItem itemLabel="Selecionar" itemValue="" />
													<f:selectItem itemLabel="VILA ALTA" itemValue="Xbox One" />
													<f:selectItem itemLabel="SÃO MIGUEL" itemValue="PS4" />
												</p:selectOneMenu>
											</p:panelGrid>
										</div>

									</div>
								</div>
							</p:tab>
						</p:tabView>

					</div>
						<div class="ui-g-2">
							<p:commandButton value="Salvar" process="@this"  action="#{cadastroClienteBean.salvar()}" update="@form" />
						</div>
				</div>
			</div>
        <p:spacer width="100" height="10" />
        </h:form>

	</ui:define>

</ui:composition>