<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
    
            <div class="ui-g dashboard">
            <div class="ui-g-12 ui-md-4">
                <div class="card overview">
                    <div class="overview-content clearfix">
                        <span class="overview-title">Total de Vendas no Mês</span>
                        <span class="overview-badge">+%90</span>
                        <span class="overview-detail">22,650  R$ </span>
                    </div>
                    <div class="overview-footer">
                        <p:graphicImage name="images/dashboard/sales.svg" library="ultima-layout" style="width: 100%" />
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="card overview">
                    <div class="overview-content clearfix">
                        <span class="overview-title">Total de vendas hoje</span>
                        <span class="overview-badge">+%60</span>
                        <span class="overview-detail">6,520 R$</span>
                    </div>
                    <div class="overview-footer">
                        <p:graphicImage name="images/dashboard/views.svg" library="ultima-layout" style="width: 100%" />
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-4">
                <div class="card overview">
                    <div class="overview-content clearfix">
                        <span class="overview-title">Total de pedidos no mês atual</span>
                        <span class="overview-badge">+%45</span>
                        <span class="overview-detail">100</span>
                    </div>
                    <div class="overview-footer">
                        <p:graphicImage name="images/dashboard/progress.svg" library="ultima-layout" style="width: 100%" />
                    </div>
                </div>
            </div>
            
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-1">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE86C;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Entregas</span>
                        <span class="colorbox-count">50</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-2">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE8C9;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Clientes</span>
                        <span class="colorbox-count">1200</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-3">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE160;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Vendedores</span>
                        <span class="colorbox-count">22</span>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-4">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE0BE;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Pendentes</span>
                        <span class="colorbox-count">10</span>
                    </div>
                </div>
            </div>
            
            <!--   -->
            
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-4">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE0BE;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Iniciar Pedido</span>
                        <span class="colorbox-count">Balcão</span>
                    </div>
                </div>
            </div>
            
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-4">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE0BE;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Iniciar Pedido</span>
                        <span class="colorbox-count">Entrega</span>
                    </div>
                </div>
            </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-4">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE0BE;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Despesas</span>
                        <span class="colorbox-count">Cadastrar</span>
                    </div>
                </div>
            </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card colorbox colorbox-4">
                    <div class="ui-g-4">
                        <i class="material-icons">&#xE0BE;</i>
                    </div>
                    <div class="ui-g-8">
                        <span class="colorbox-name">Clientes</span>
                        <span class="colorbox-count">Cadastrar</span>
                    </div>
                </div>
            </div>
            
    <!--  -->

        </div>

    </ui:define>

</ui:composition>