<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/ultima">
    
    <h:form id="menuform"> 
        <div class="layout-menu #{guestPreferences.menuClass}">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <ui:fragment rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
                        <div class="profile">
                            <div class="profile-image"></div>
                            <a id="profile-options" href="#">
                                <span class="profile-name">Jane Williams</span>
                                <i class="material-icons">&#xE313;</i>
                            </a>
                        </div>
                    
                        <ul id="profile-menu" class="ultima-menu">
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">&#xE7FD;</i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">&#xE32A;</i>
                                    <span>Privacy</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">&#xE8B9;</i>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#" class="ripplelink">
                                    <i class="material-icons">&#xE8AC;</i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </ui:fragment>
                    
                    <pu:menu widgetVar="me">
                        <p:menuitem id="um_dashboard" value="Dashboard" icon="&#xE871;" outcome="/dashboard"/>
                        <p:submenu label="Pedidos" icon="&#xE5D2;">
                            <p:submenu  label="Pedidos balcão " icon="&#xE8D2;">
                                    <p:menuitem value="Novo Pedido" icon="&#xE8D2;" url="#" />
                                    <p:menuitem value="Visualizar Pedidos" icon="&#xE869;" />
                            </p:submenu>

                            <p:submenu  label="Pedidos Entrega" icon="&#xE8D2;">
                                    <p:menuitem  value="Novo Pedido" icon="&#xE8D2;" url="#" />
                                    <p:menuitem  value="Visualizar Pedidos" icon="&#xE8D2;" url="#" />
                            </p:submenu>
                        </p:submenu>
                        <p:submenu  label="Produtos" icon="&#xE8D2;">
                             <p:menuitem value="Novo produto" icon="&#xE869;" outcome="/produtos/novo" />
                             <p:menuitem value="Visualizar produtos" icon="&#xE869;" />
                        </p:submenu>
                         <p:submenu  label="Categorias" icon="&#xE8D2;">
                             <p:menuitem value="Novo Categoria" icon="&#xE869;" outcome="/categorias/novo" />
                             <p:menuitem value="Visualizar Categorias" icon="&#xE869;" />
                        </p:submenu>
                        <p:submenu  label="Clientes" icon="&#xE8D2;">
                             <p:menuitem value="Novo Cliente" icon="&#xE869;" outcome="/clientes/novo" />
                             <p:menuitem value="Visualizar clientes" icon="&#xE869;" />
                        </p:submenu>
                        <p:submenu label="Usuários" icon="&#xE8D2;">
                             <p:menuitem value="Novo Usuário" icon="&#xE869;" />
                             <p:menuitem value="Visualizar usuários" icon="&#xE869;" />
                        </p:submenu>
                         <p:submenu label="Rotas" icon="&#xE8D2;">
                             <p:menuitem value="Nova Rota" icon="&#xE869;" />
                             <p:menuitem value="Visualizar Rotas" icon="&#xE869;" />
                        </p:submenu>
                        <p:submenu  label="Configurações Sistema" icon="&#xE40A;">
                            <p:menuitem id="theme1" value="Indigo - Pink" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('indigo')}" ajax="false" />
                            <p:menuitem id="theme2" value="Brown - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('brown')}" ajax="false" />
                            <p:menuitem id="theme3" value="Blue - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('blue')}" ajax="false" />
                            <p:menuitem id="theme4" value="Blue Grey - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('blue-grey')}" ajax="false" />
                            <p:menuitem id="theme5" value="Dark - Blue" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('dark-blue')}" ajax="false" />
                            <p:menuitem id="theme6" value="Dark - Green" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('dark-green')}" ajax="false" />
                            <p:menuitem id="theme7" value="Green - Yellow" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('green')}" ajax="false" />
                            <p:menuitem id="theme8" value="Purple - Cyan" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('purple-cyan')}" ajax="false" />
                            <p:menuitem id="theme9" value="Purple - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('purple-amber')}" ajax="false" />
                            <p:menuitem id="theme10" value="Teal - Lime" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('teal')}" ajax="false" />
                            <p:menuitem id="theme11" value="Cyan - Amber" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('cyan')}" ajax="false" />
                            <p:menuitem id="theme12" value="Grey - Deep Orange" icon="&#xE3AE;" actionListener="#{guestPreferences.setTheme('grey')}" ajax="false" />
                        </p:submenu>
                    </pu:menu>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>